<div id="registation" ng-controller="MainFormRegistation">
	<form>
		<input tip="Введите адресс электронной почты" placeholder="E-mail" ng-model="register.email" type="text">
		<input tip="Введите ваше имя" placeholder="Имя" ng-model="register.firstname" type="text">
		<input tip="Введите вашу фамилию" placeholder="Фамилия" ng-model="register.lastname" type="text">
		<input tip="Введите ваш пароль" placeholder="Пароль" ng-model="register.password" type="text">
		<input placeholder="РЕГИСТРАЦИЯ" type="submit" ng-click="submitRegistation()" onclick="return false;">
	</form>
</div>
<div id="login" ng-controller="MainFormLogin">
	<form>
		<input placeholder="Логин" ng-model="login.email" type="text">
		<input placeholder="Пароль" ng-model="login.password" type="text">
		<input placeholder="ВОЙТИ" type="submit" ng-click="submitLogin()" onclick="return false;">
	</form>
</div>
