Вы вошли в сеть:) <a exit ng-click="loggout()">Выйти</a>

<div id="baner"></div>
<div id="wrap">
	<div id="aside">
		<div class="block">
			<ul class="menu">
				<li class="item"><a href="#/">Ануфриев Роман</a></li>
			</ul>
		</div>
		<div class="block">
			<ul class="menu">
				<li class="item"><a href="#/feed">Лента</a></li>
				<li class="item"><a href="#/friends">Друзья</a></li>
				<li class="item"><a href="#/messeages">Сообщения</a></li>
				<li class="item"><a href="#/groups">Группы</a></li>
				<li class="item"><a href="#/photos">Фотографии</a></li>
				<li class="item"><a href="#/audio">Аудиозаписи</a></li>
				<li class="item"><a href="#/videos">Видеозаписи</a></li>
				<li class="item"><a href="#/articles">Заметки</a></li>
				<li class="item"><a href="#/application">Приложения</a></li>
				<li class="item"><a href="#/documents">Документы</a></li>
				<li class="item"><a href="#/settings">Настройки</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="profile">
			<div id="description">
				<div class="avatar"></div>
				<div class="brief">
					<div class="name">Ануфриев Роман</div>
					<ul class="brief_list">
						<li class="item">учусь в САПЭУ</li>
						<li class="item">Россия, Иркутск</li>
					</ul>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>	
				<div class="about">
					<div class="group_button">
						<button>В друзья</button>
						<button>Написать</button>
					</div><div class="clear"></div>
					<div class="about_description">
						Я люблю программировать, придумывать дизайны:) Я творю и радуюсь жизни:) А еще я люблю слушать музыку в стиле Hardstyle, Dubstep, D'n'b:)
					</div>

				</div>
<div class="clear"></div>		
			</div>
			<div id="attach">
				<div class="status">Я запустил новый проект http://zadavaj.ru:) Изобрел свой отвечальник^) Все заходим, все смотрим, что я сделал:) В проекте уже тысяча человек:)</div>
				<div class="albums">
					<div class="album">
						<div class="description">Описание:)</div>
					</div>
					<div class="album">
						<div class="description">Друзяшки</div>
					</div>
					<div class="album">
						<div class="description">Барахло</div>
					</div>
				</div>
			</div>
	<div class="clear"></div>	
		</div>


		<div class="clear"></div>


		<div id="board">
			<div class="blocks">
				<div class="block">
					<div class="header">Заголовок<div class="right_link">Ссылка справа</div></div>
					<div class="content">
						<div class="item">
							<div class="description">Программирование</div>
						</div>
						<div class="item">
							<div class="description">Дизайн</div>
						</div>
						<div class="item">
							<div class="description">Hardstyle</div>
						</div>
						<div class="item">
							<div class="description">Девелоп</div>
						</div>
						<div class="item">
							<div class="description">Highload++</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="footer">Подвал</div>
				</div>
			

							<div class="block">
					<div class="header">Заголовок<div class="right_link">Ссылка справа</div></div>
					<div class="content">
						<div class="item">
							<div class="description">Программирование</div>
						</div>
						<div class="item">
							<div class="description">Дизайн</div>
						</div>
						<div class="item">
							<div class="description">Hardstyle</div>
						</div>
						<div class="item">
							<div class="description">Девелоп</div>
						</div>
						<div class="item">
							<div class="description">Highload++</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="footer">Подвал</div>
				</div>
			



							<div class="block">
					<div class="header">Заголовок<div class="right_link">Ссылка справа</div></div>
					<div class="content">
						<div class="item">
							<div class="description">Программирование</div>
						</div>
						<div class="item">
							<div class="description">Дизайн</div>
						</div>
						<div class="item">
							<div class="description">Hardstyle</div>
						</div>
						<div class="item">
							<div class="description">Девелоп</div>
						</div>
						<div class="item">
							<div class="description">Highload++</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="footer">Подвал</div>
				</div>
			



							<div class="block">
					<div class="header">Заголовок<div class="right_link">Ссылка справа</div></div>
					<div class="content">
						<div class="item">
							<div class="description">Программирование</div>
						</div>
						<div class="item">
							<div class="description">Дизайн</div>
						</div>
						<div class="item">
							<div class="description">Hardstyle</div>
						</div>
						<div class="item">
							<div class="description">Девелоп</div>
						</div>
						<div class="item">
							<div class="description">Highload++</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="footer">Подвал</div>
				</div>
			

				<div class="clear"></div>

			</div>

			<div class="wall">
				<div class="wall_form">
						<div class="block">
					<div class="header">sdfgdsg</div><div class="content">
						<textarea  placeholder="Что-то новенькое?"></textarea>
					</div>
					<div class="footer"><div class="right_link">
						<button>Опубликовать</button>
					</div></div>
				</div>
				</div>

				<div class="wall_posts">
					<div class="block">
					<div class="header">Стена</div>
					<div class="content">
					<div class="post">
						<div class="avatar"></div>
						<div class="post_wrap">
							<div class="post_header"><span class="name">Роман Ануфриев</span><span class="date"><a href="#/">28 окт в 17:23</a></span></div>
							<div class="post_content">Это текст комментария, для того, чтобы проверить формирование</div>
							<div class="post_footer">
								<span class="post_span_comments">Комментировать</span>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					</div>
					<div class="footer"></div>
				</div>
				</div>

			</div>
			<div class="clear">sddsfsdfdsffsdfdsf</div>
		</div>
	<div class="clear"></div>
	</div>
</div>