body {
  margin: 0px;
  padding: 0px;
  background: #e8ebed;
}
.clear {
  clear: both;
}
#baner {
  background: #41902e;
  height: 45px;
  border-bottom: 1px solid #1e346a;
}
#main {
  height: 420px;
  background-image: url("../images/main.png");
}
#main .content {
  width: 900px;
  overflow: hidden;
  margin: 0px auto;
}
#main .content #information {
  width: 600px;
}
#main .content #information h1,
#main .content #information h3 {
  font-family: Calibri;
  font-weight: normal;
  color: #FFF;
}
#main .content #information h1 {
  font-size: 54px;
  margin-top: 58px;
}
#main .content #information h3 {
  font-size: 24px;
  margin-top: 6px;
}
#main .content #aside {
  width: 300px;
  float: right;
  font-family: Tahoma 14px;
}
#main .content #aside #registation {
  margin-top: 20px;
}
#main .content #aside #login,
#main .content #aside #forget {
  margin-top: 10px;
}
#main .content #aside form {
  /*input:not(:last-child){
					margin-bottom: 12px;
					border: 1px solid red;
				}*/
}
#main .content #aside form input,
#main .content #aside form button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  border: none;
  color: #FFF;
  font-family: Tahoma 14px;
  margin-bottom: 12px;
}
#main .content #aside form button {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  height: 38px;
  padding: 0px 10px;
  line-height: 38px;
  background: #1197b8;
  transition: background .4s;
  float: left;
}
#main .content #aside form button:disabled {
  background: #258ba4;
}
#main .content #aside form input {
  height: 36px;
  /*line-height: 36px;*/
  padding: 0px 10px;
  width: 300px;
  outline: none;
  border-left: 0px solid #FFF;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  transition: border-left 0.4s;
  text-align: middle;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}
#main .content #aside form input.ng-valid.ng-dirty {
  border: none;
  border-left: 4px solid #00bb00;
}
#main .content #aside form input.ng-invalid-email.ng-dirty {
  border: none;
  border-left: 4px solid #bb0000;
}
#main .content #aside form a {
  font-family: 'Tahoma';
  font-size: 12px;
  color: #FFF;
  display: block;
  margin-right: 20px;
  margin-top: 12px;
  float: right;
}
#main .content #aside form a:hover {
  text-decoration: none;
}
#footer {
  width: 900px;
  margin: 16px auto;
}
#footer .avatars {
  float: left;
  margin-bottom: 20px;
}
#footer .avatars .avatar:not(:last-child) {
  margin-right: 10px;
}
#footer .avatars .avatar {
  padding: 5px;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
#footer .information {
  float: left;
  padding-bottom: 14px;
  width: 100%;
  border-top: #cccccc 1px solid;
  color: #7e7e7e;
  padding-top: 14px;
  font-size: 12px;
  font-family: Tahoma;
}
#footer .information p {
  margin-bottom: 10px;
}
#footer .information a {
  color: #375490;
  text-decoration: none;
}
#footer .information a:hover {
  color: #456ab5;
  text-decoration: underline;
}
.tip_wrap {
  position: relative;
}
.tip_wrap .tip {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #FFF;
  font-family: Calibri;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 10;
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  right: 300px;
  width: 200px;
  visibility: hidden;
  opacity: .0;
  transition: opacity .4s, right .4s;
}
.tip_wrap .tip.show {
  visibility: visible;
  opacity: 1;
  right: 320px;
}
