<div id="baner"></div>
<div id="wrap">
	<div id="main">
		<div class="content">
			<div id="aside">
				<div ui-view></div>
			</div>
			<div id="information">
				<h1>Добро пожаловать</h1>
				<h3>В нашу социальную сеть. Находите друзей с нами:)</h3>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<ul class="avatars">
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
		<li class="avatar"></li>
	</ul>
	<div class="information">
		<p> <a href="">Условия использования</a> - <a href="">Политика конфиденциальности</a> - <a href="">Оговорка</a> - <a href="">Разработчики</a> - <a href="">Контакты</a> - <a href="">О нас</a> </p>
		<p>Язык: <a href="">English</a> - <a href="">Netherlands</a> - <a href="">Romanian</a> </p>
		<p> Копирайт © 2013 Все люди </p>
	</div>
</div>